/* SPDX-License-Identifier: Apache-2.0
Copyright © 2022 Roberto Hidalgo <nidito@un.rob.mx> */

button {
  background: rgba(255,255,255,.6);
  font-family: "Aestetico", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #c11145;
  border: 5px solid #c11145;
  transition: all ease-in-out .5s;
}

main.container button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.5em;
  border-radius: .4em;
  font-weight: bold;
}

.container {
  box-sizing: border-box;
}

#rex {
  font-size: 5em;
  border-radius: 100%;
  width: 75vw;
  height: 75vw;
  margin: .5em auto;
  max-width: 50vh;
  max-height: 50vh;
  border-width: 10px;
  padding: 0px;
}

#auth {
  font-size: 1.6em;
  padding: .4em 1em;
  margin: 1em 0;
  width: 100%;
  max-width: 50vw;
}

button[disabled] {
  filter:saturate(0);
}

#open.success button{
  color: rgb(27, 163, 0);
  border-color: rgb(27, 163, 0)
}

#open.requested button {
  color: rgb(0, 76, 163);
  border-color: rgb(0, 76, 163);
}

#open.failed button {
  color: #fff;
  background-color:  rgb(175, 39, 39);
  border-color: rgb(126, 26, 26);
}

form {
  display: block;
}

label {
  font-family: "Aestetico", sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
}

input {
  display: block;
  font-family: "Fira Code", monospace;
  font-size: 1.5em;
  width: 100%;
  max-width: 50vw;
  box-sizing: border-box;
}

input[type=checkbox] {
  display: inline-block;
  width: 1em;
  height: .8em;
}

.hidden {
  display: none
}

@media screen and (max-width: 768px) {
  html { height: -webkit-fill-available; }
  body {
    background-color: #c11145;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  main {
    background-color: rgb(255, 198, 215);
    flex-grow: 1;
  }

  #main-header {
    position: sticky;
    padding-top: env(safe-area-inset-top);
    top: 0;
  }

  input {
    max-width: 100%;
  }
  button {
    max-width: 100%;
  }

  #auth {
    max-width: 100%;
  }

  .container {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

